---
import '~/styles/fonts.css';
import '~/styles/global.css';

export interface Props {
	title: string;
	description?: string;
}

const { description = '', title } = Astro.props;
---

<!doctype html>
<html lang="en-GB">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" sizes="any" />
		<link rel="icon" href="/icon.svg" type="image/svg+xml" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link rel="manifest" href="/manifest.webmanifest" />
		<title>{title}</title>
		{description ? <meta name="description" content={description} /> : null}
	</head>
	<body>
		<slot />
	</body>
</html>
