---
import Layout from '~layouts/Layout.astro';

export const prerender = true;
---

<Layout title="Thanks">
	<main>
		<h1>Thanks for submitting your comment!</h1>
		<p>We will be in touch</p>
	</main>
</Layout>

<style>
	body {
		background-color: var(--colour-theme);
		color: var(--colour-dark);
	}
</style>
