---
import Heading from '../components/Heading.astro';
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro Scroll to Anchor</title>
  </head>
  <body>
    <main class="container">
      <div class="wrapper">
        <h1>
          <Heading text="Astro Scroll to Anchor" id="astro-scroll-to-anchor" />
        </h1>
        <h2><Heading id="lorem-ipsum" text="Lorem ipsum" /></h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Suscipit adipiscing bibendum est ultricies integer quis.
          Tortor vitae purus faucibus ornare suspendisse sed nisi lacus sed. At erat pellentesque
          adipiscing commodo elit at imperdiet. Suscipit adipiscing bibendum est ultricies integer
          quis auctor. Velit sed ullamcorper morbi tincidunt ornare massa eget egestas. Imperdiet
          sed euismod nisi porta. Non blandit massa enim nec. Etiam dignissim diam quis enim
          lobortis scelerisque fermentum dui. Suspendisse sed nisi lacus sed viverra tellus in.
          Metus dictum at tempor commodo ullamcorper a. A scelerisque purus semper eget duis at.
          Ultrices dui sapien eget mi proin sed libero. Cursus metus aliquam eleifend mi in nulla
          posuere sollicitudin.
        </p>
        <h2><Heading id="amet-porttitor" text="Amet porttitor" /></h2>
        <p>
          Amet porttitor eget dolor morbi. Ullamcorper eget nulla facilisi etiam dignissim diam quis
          enim. Cras tincidunt lobortis feugiat vivamus at. Eleifend donec pretium vulputate sapien
          nec sagittis aliquam malesuada bibendum. Curabitur gravida arcu ac tortor dignissim.
          Scelerisque purus semper eget duis. Amet nulla facilisi morbi tempus iaculis urna id. Et
          ligula ullamcorper malesuada proin libero. Risus pretium quam vulputate dignissim
          suspendisse in. Nec dui nunc mattis enim ut tellus elementum. At quis risus sed vulputate
          odio. Facilisi cras fermentum odio eu feugiat pretium. Lorem ipsum dolor sit amet
          consectetur. Sit amet massa vitae tortor condimentum lacinia quis. Amet volutpat consequat
          mauris nunc congue nisi vitae suscipit tellus. Posuere lorem ipsum dolor sit amet
          consectetur adipiscing elit duis. Ac turpis egestas integer eget aliquet nibh. In nibh
          mauris cursus mattis.
        </p>
        <h2><Heading id="blandit-turpis" text="Blandit turpis" /></h2>
        <p>
          Blandit turpis cursus in hac habitasse platea. Egestas tellus rutrum tellus pellentesque
          eu. In eu mi bibendum neque. Accumsan in nisl nisi scelerisque eu ultrices vitae auctor.
          Augue mauris augue neque gravida. Tristique nulla aliquet enim tortor at auctor. A
          pellentesque sit amet porttitor. Pharetra pharetra massa massa ultricies mi. Fringilla ut
          morbi tincidunt augue interdum velit euismod in pellentesque. Et leo duis ut diam quam
          nulla porttitor. Pharetra diam sit amet nisl suscipit. Lorem donec massa sapien faucibus.
          Tempor orci eu lobortis elementum nibh tellus. Urna porttitor rhoncus dolor purus non enim
          praesent elementum facilisis. Sed nisi lacus sed viverra tellus in hac habitasse.
          Fermentum leo vel orci porta non pulvinar neque laoreet suspendisse. Enim facilisis
          gravida neque convallis a cras. Enim nunc faucibus a pellentesque sit amet porttitor. Cras
          fermentum odio eu feugiat pretium.
        </p>
        <h2><Heading id="arcu-dui" text="Arcu dui" /></h2>
        <p>
          Arcu dui vivamus arcu felis bibendum ut tristique. Congue eu consequat ac felis donec et
          odio. Semper feugiat nibh sed pulvinar proin gravida hendrerit. Libero nunc consequat
          interdum varius sit. At volutpat diam ut venenatis. Euismod quis viverra nibh cras.
          Vestibulum morbi blandit cursus risus. Risus viverra adipiscing at in tellus integer
          feugiat scelerisque. Tristique senectus et netus et malesuada fames ac. Amet risus nullam
          eget felis eget nunc lobortis. Nisl pretium fusce id velit ut tortor pretium viverra.
          Turpis egestas sed tempus urna et pharetra pharetra massa massa. Fermentum dui faucibus in
          ornare quam viverra orci sagittis. Nam libero justo laoreet sit. Eget velit aliquet
          sagittis id consectetur purus ut faucibus pulvinar. Nullam ac tortor vitae purus faucibus
          ornare suspendisse.
        </p>
        <h2><Heading id="tellus-in-hac" text="Tellus in hac" /></h2>
        <p>
          Tellus in hac habitasse platea dictumst vestibulum rhoncus est pellentesque. Dignissim
          sodales ut eu sem integer vitae justo. Nunc vel risus commodo viverra. Nunc sed blandit
          libero volutpat sed cras. Arcu risus quis varius quam quisque id. Tristique sollicitudin
          nibh sit amet commodo nulla facilisi. Sed vulputate mi sit amet mauris commodo quis
          imperdiet. Tristique sollicitudin nibh sit amet commodo nulla facilisi. Tellus at urna
          condimentum mattis. Feugiat scelerisque varius morbi enim. Sit amet aliquam id diam
          maecenas ultricies mi. Lectus quam id leo in vitae turpis massa sed. Felis donec et odio
          pellentesque diam volutpat commodo sed egestas. Facilisis gravida neque convallis a cras
          semper. Velit laoreet id donec ultrices tincidunt. Sed lectus vestibulum mattis
          ullamcorper velit. Et ultrices neque ornare aenean euismod elementum nisi quis eleifend.
        </p>
      </div>
    </main>
  </body>
</html>

<style>
/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/fonts/raleway-v26-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/raleway-v26-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('/fonts/raleway-v26-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/raleway-v26-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-900 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('/fonts/raleway-v26-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/raleway-v26-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


  :global(html) {
    --colour-background-hue: 47.36;
    --colour-background-saturation: 100%;
    --colour-background-luminance: 52.55%;

    --colour-text-hue: 282.86;
    --colour-text-saturation: 53.85%;
    --colour-text-luminance: 35.69%;

    --font-family-heading: Raleway;
    --font-family-body: Raleway;

    --font-size-1: 1rem;
    --font-size-5: 2.441rem;
    --font-size-6: 3.052rem;

    --font-weight-bold: 700;
    --font-weight-black: 900;

    --line-height-relaxed: 1.75;

    --max-width-full: 100%;
    --max-width-wrapper: 38rem;

    --spacing-20: 5rem;

    background-color: hsl(
      var(--colour-background-hue) var(--colour-background-saturation)
        var(--colour-background-luminance)
    );
    color: hsl(var(--colour-text-hue) var(--colour-text-saturation) var(--colour-text-luminance));

    scroll-behavior: smooth;
  }
  @media (prefers-reduced-motion: reduce) {
    :global(html) {
      scroll-behavior: auto;
    }
  }

  :global(h1),
  :global(h2) {
    font-family: var(--font-family-heading);
  }

  :global(h1) {
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-black);
  }
  :global(h2) {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-bold);
  }

  :global(p) {
    font-family: var(--font-family-body);
    font-size: var(--font-size-1);
    line-height: var(--line-height-relaxed);
  }

  .container {
    display: flex;
    align-items: center;
    padding-bottom: var(--spacing-20);
  }

  .wrapper {
    width: var(--max-width-full);
    max-width: var(--max-width-wrapper);
    margin: 0 auto;
  }
</style>
