/* roboto-serif-regular - latin */
@font-face {
	font-family: 'Roboto Serif';
	font-style: normal;
	font-weight: normal;
	src: local(''), url('/fonts/roboto-serif-v7-latin-regular.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/roboto-serif-v7-latin-regular.woff')
			format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-serif-700 - latin */
@font-face {
	font-family: 'Roboto Serif';
	font-style: normal;
	font-weight: bold;
	src: local(''), url('/fonts/roboto-serif-v7-latin-700.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/roboto-serif-v7-latin-700.woff')
			format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
