@charset "UTF-8";

@import './fonts.scss';
@import './variables.scss';

body {
  margin: $spacing-0;
  background: hsl($colour-dark-hue $colour-dark-saturation $colour-dark-luminance);
  font-family: Roboto;
  text-align: center;
}

h1 {
  font-size: 3.815rem;
  margin-bottom: $spacing-12;
}

h2 {
  font-size: 1.802rem;
  margin-bottom: $spacing-8;
}

p {
  margin: $spacing-6 $spacing-6 $spacing-8;
}

button {
  cursor: pointer;
  margin: $spacing-6;
  border: solid $spacing-px
    hsl($colour-light-text-hue $colour-light-text-saturation $colour-light-text-luminance);
  border-radius: 50%;
  padding: $spacing-8;
}

.video-container {
  position: relative;
  aspect-ratio: 16 / 9;
  width: 100%;
  max-width: 560px;
  margin: $spacing-0 $spacing-6;
}

.video-container iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
  word-wrap: normal !important;
}
